{% extends "SSFMBBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block ssfmb_body %}
    <h1>Segment creation</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('segment') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
