{% extends "::layout.html.twig" %}

{% block title %}
    Annonces - {{ parent() }}
{% endblock %}
{% block menu %}


{% endblock %}
{% block body %}

    <div>
    {% block ssfmb_body %}
    {% endblock %}
    </div>
{% endblock %}