{% for filiere in filieres %}
    <li class="dd-item" data-id="{{ filiere.id }}">
        <div class="dd-handle" id="{{ filiere.nomFiliere }}">
            {{ filiere.nomFiliere }}
            <br>
            {# {% include 'SSFMBBundle:Filiere/Include:StatIndexInclude.html.twig' %} #}
        </div>
        {{ render(controller(
        'SSFMBBundle:Segment:findByFiliere',
        { 'filiere': filiere }
        )) }}
        {# {% include '@SSFMB/Segment/Render/listSegmentIndexRender.html.twig' %}#}
    </li>
{% endfor %}