<div class="row">
    <div class="col-md-12">
        <div class="alert alert-dismissable alert-danger" id="alerterouge" style="display: none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>Alert!</h4>
            <strong>Warning!</strong> l'article du parc nomparc de la filiere f1 contenu dans le segment A a
            partir du flotteur A1 a l'emplacement 10 a depasser le temps prevue
            <a href="#" class="alert-link">alert link</a>
        </div>
        <div class="alert alert-dismissable alert-warning" id="alertejaune" style="display: none"></div>
        <div class="alert alert-success alert-dismissable" id="alerteverte" style="display: none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>Alert!</h4>
            <strong>Warning!</strong> Best check yo self, you're not looking too good.
            <a href="#" class="alert-link">alertlink</a>
        </div>
    </div>
</div>
