{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Parc list</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>Actions</th>
            <th>Nomparc</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('ssfmb_affichepage', { 'id': entity.id }) }}">afficher les filiere</a></td>
                <td>{{ entity.nomParc }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
