<div class="navbar-custom">
    <div class="container">
        <div id="navigation">
            {{ knp_menu_render('SSFMBBundle:Builder:mainMenu') }}
        </div>
    </div> <!-- end container -->
</div> <!-- end navbar-custom -->
