{% extends "SSFMBBundle::layout.html.twig" %}

{% block body -%}
    <h1>Corde creation</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('corde') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
