{% extends "SSFMBBundle::layout.html.twig" %}

{% block body %}

    <h2>Ajouter un parc</h2>

    {{ include("SSFMBBundle:Administration/Parc:form.html.twig") }}
    <p>
    <ul class="record_actions">
        <li>
            <a href="{{ path('parc') }}">
                Back to the list
            </a>
        </li>
    </ul>
    </p>

{% endblock %}
