<div class="row" style="overflow: scroll">
    {% for filiere in entity.filieres %}
        {% if page not in ["RL","RC"] %}
            <div class="col-lg-12">
                <div class="col-lg-2"><a href="#{{ filiere.nomFiliere }}">{{ filiere.nomFiliere }}</a></div>
            </div>
        {% elseif page in ["RL","RC"] %}
            {% if filiere.aireDeTravaille %}
                <div class="col-lg-12">
                    <div class="col-lg-2"><a href="#{{ filiere.nomFiliere }}">{{ filiere.nomFiliere }}</a></div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
