<div>Listez des filieres</div>
{% for filiere in entity.filieres %}
    {% if page not in ["RL","RC"] %}
        <span class="lienfiliereint"><a href="#{{ filiere.nomFiliere }}">{{ filiere.nomFiliere }}</a></span>
    {% elseif page in ["RL","RC"] %}
        {% if filiere.aireDeTravaille %}
            <span class="lienfiliereint"><a href="#{{ filiere.nomFiliere }}">{{ filiere.nomFiliere }}</a></span>
        {% endif %}
    {% endif %}
{% endfor %}