/* =============
   Progressbars
============= */
.progressme {
    -webkit-box-shadow: none !important;
    background-color: #ebeff2;
    box-shadow: none !important;
    height: 10px;
    margin-bottom: 18px;
    overflow: hidden;
}
