{% extends "SSFMBBundle::layout.html.twig" %}

{% block body %}

    <h2>Ajouter de filiere</h2>
    {{ include("SSFMBBundle:Filiere:form.html.twig") }}
    <p>
    <ul class="record_actions">
        <li>
            <a href="{{ path('filiere') }}">
                Back to the list
            </a>
        </li>
    </ul>
    </p>
{% endblock %}
