{% extends "SSFMBBundle::layout.html.twig" %}

{% block body -%}
    <h1>Lot</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Lot</th>
            <td>{{ entity.lot }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('lot') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('lot_edit', { 'id': entity.lot }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
